@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";
@import "tw-animate-css";

/* 🎨 Theme 토큰 */
@theme {
  --font-sans: "Pretendard", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans KR", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;

  --color-badge-green: #d5faf1;
  --color-badge-red: #f9e3e2;
  --color-badge-yellow: #fceed8;

  --color-badge-green-text: #254d4a;
  --color-badge-red-text: #752522;
  --color-badge-yellow-text: #73321b;
}

html
body {
  @apply bg-white;
}
main {
  @apply min-h-screen pt-10;
}


/* 🛠 커스텀 유틸리티 */
@utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r
         from-[#AB8C95] via-[#000000] to-[#8E97C5];
}

@utility primary-gradient {
  @apply bg-gradient-to-r from-indigo-500 to-pink-500;
}




h1 { @apply text-6xl text-gradient leading-tight tracking-[-2px] font-semibold; }
h2 { @apply text-3xl text-dark-200; }
label {
  @apply text-dark-200;
}
input { @apply w-full p-4 shadow-inner rounded-2xl focus:outline-none bg-white; }
textarea { @apply w-full p-4 shadow-inner rounded-2xl focus:outline-none bg-white; }
form { @apply flex flex-col items-start gap-8 w-full; }

/* 📦 컴포넌트 스타일 */
@layer components {


.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
}

  .gradient-border {
    @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200 p-4 rounded-2xl;
  }

  .primary-button {
    @apply primary-gradient text-white rounded-full px-4 py-2 cursor-pointer w-full;
  }

  .resume-nav {
    @apply flex flex-row justify-between items-center p-4 border-b border-gray-200;
  }

  .resume-summary {
    @apply flex flex-row items-center justify-center p-4 gap-4;
    .category {
      @apply flex flex-row gap-2 items-center bg-gray-50 rounded-2xl p-4 w-full justify-between;
    }
  }

  .back-button {
    @apply flex flex-row items-center gap-2 border border-gray-200 rounded-lg p-2 shadow-sm;
  }

  .page-heading {
    @apply flex flex-col items-center justify-center text-center;
  }
}
